/*
 * Shortam 0.1
 * by @nitishkgupta
 * License: MIT
 * Github: https://github.com/nitishkgupta/Shortam
 */

.shortam-alert {padding-left:15px!important;padding: 10px;font-size:20px;font-family: roboto;border-radius: 4px;}
.shortam-bg-green {background: #4caf50;color: #fff;}
.shortam-bg-blue {background: #03a9f4;color: #fff;}
.shortam-bg-red {background: #f44336;color: #fff;}
.shortam-bg-orange {background: #ff9800;color: #fff;}
.shortam-bt {transition:.2s;padding: 10px;text-decoration: none;font-size: 20px;font-family: roboto;border-radius: 4px;}
.shortam-bt:active {background: black;color: #fff;}
